<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/variables.css"/>
    <link rel="stylesheet" href="/css/utilities.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
  </head>
  {# Attempt at creating a base layout with Every-Layout.dev's primitives... we shall seeee! #}
  <body>
    <cover-l centered="main" space="var(--s1)" minHeight="100vh"  noPad>
      {# header... #}
      <header>
        <center-l max="var(--measure)" andText gutters>
          <box-l padding="var(--s1)" borderWidth="0">
            <h1>{{ title }}</h1>
            {% if page.url !== '/' %}
              <h2>
                <a href="/">🌍🤖 Planet Stacks 🤖🌍</a>
              </h2>
            {% endif %}
          </box-l>
        </center-l>
      </header>
      {# horizontally-and-vertically-centered el... #}
      <main>
        <center-l intrinsic>
          {{ content | safe }}
        </center-l>
      </main>

      {# footer #}
      <footer>
        <center-l max="100vw" intrinsic andText class="bg-red">
          <box-l borderWidth="0px">
            <h4>Add Your Stack!</h4>
            <p>Learn how to contribute your stack by <a href="https://github.com/juancarlosasensio/planet-stack" target="_blank">visiting the repo ></a>
            </p>
          </box-l>
        </center-l>
      </footer>
    </cover-l>
    <script src="{{ 'js/main.js' | url }}" type="module"></script>
  </body>
</html>