# dependencies installed by npm
node_modules

# build artefacts
public

# secrets and errors
.env
.log

# macOS related files
.DS_Store

# Oauth stuff...
oauth2.keys.json

# Netlify serverless
netlify/functions/dynamic/** 
!netlify/functions/dynamic/index.js