---
layout: base.njk
title: Planet Stacks
---

<article>
  <stack-l space="var(--s3)" class="text-align:center">
    <h2>⚡️ Weekly Highlight ⚡️</h2>
    {% for stack in stacks | randomItem %}
      {% include "stack.njk" %}
    {% endfor %}
  </stack-l>
</article>